
body {
  margin: 0;
  background-color: white;
  background-position: center;
}

h3 {
  font-size: 1.3rem;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

.logo {
  width: 30%;
}

.main-picture {
  background-image: url('images/hero.jpg');
  width: 1100px;
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 70px;
}

.main-picture > img {
  width: 100%;
}

.main-picture-title {
  position: absolute;
  padding-left: 80px;
  padding-right: 750px;
  top: 70px;
  color: white;
}

.main-picture-text {
  position: absolute;
  color: white;
  padding-left: 80px;
  padding-right: 550px;
  text-align: left;
  top: 150px;
  line-height: 1.8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  display: flex;
}

.main-picture-button {
  position: absolute;
  padding-left: 80px;
  top: 390px;
}

button.get-started {
  color: white;
  background-color: rgb(31, 60, 88);
  border-style: solid;
  border-color: transparent;
  border-radius: 6px;
  padding-right: 36px;
  padding-left: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.overlay {
  /*
  background: linear-gradien (rgba (255, 255, 255, 0.1));

  */

  background: linear-gradien (transparent, rgba(73, 73, 73, 0.9));

  /* your code here */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  padding-left: 70px;
  justify-content: right;
}

.row-1 {
  flex-basis: calc(100% / 2);
}

.menu {
  margin: 8px;
}

button.menu-button {
  color: rgb(194, 192, 192);
  background-color: white;
  padding-right: 20px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  text-align: center;
  border-style: solid;
  border-color: white;
}

button.menu-button:hover {
  background-color: rgb(31, 60, 88);
  color: white;
}

.second-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 60px;
  background-color: whitesmoke;
}

.second-title {
  text-align: center;
  color: gray;
}

.second-introduction {
  text-align: center;
  padding-bottom: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  color: gray;
  line-height: 1.8;
}

.container-locations {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  color: gray;
  font-size: 0.8rem;
}

.column-one-half {
  flex-basis: calc(100% / 2);
}

.read-more {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-right: 200px;
  padding-left: 70px;
  display: flex;
}

.read-more-title {
  color: gray;
  padding-right: 130px;
}

.read-more-one-column {
  flex-basis: calc(100% / 2);
}

.read-more-one-column-button {
  text-align: right;
}

.about-us {
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 130px;
  padding-bottom: 70px;
  background-color: rgb(87, 86, 86);
  display: flex;
  border: none;
}

.read-more-one-forth-column {
  flex-basis: calc(100% / 4);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
}

.read-more-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  color: gray;
}

.address {
  line-height: 1.5;
}

.about-us-links {
  line-height: 2.5;
}

.img-white-log {
  width: 80%;
}

.white-logo {
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 70px;
  display: flex;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.footer-text {
  margin-left: 10px;
  margin-right: 10px;
}
